/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset CSS for all elements */
* {
    margin: 0;
    box-sizing: border-box;
}
/* Styling for the entire body */
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Styling for the banner section */
.banner {
    background-color: black;
    background-image: url("../images/banner.webp");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

/* Styling for the top navbar */
.navbar {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
} 
/* Styling for the navigation lists */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* Styling for list items in the navigation */
.navbar li {
    display: inline;
    margin-right: 20px;
}

/* Styling for navigation links */
.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}
/* Hover effect for navigation links */
.navbar a:hover {
    color: grey;
}

/* Styling for the about us and contact navbar */
#navbar-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 32px 0;
    background-color: grey;
    height: 35px;
    position: fixed;
}

#navbar-two ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Styling for list items in the navigation */
#navbar-two li {
    display: inline;
    margin-right: 20px;
}
/* Styling for navigation links */
#navbar-two a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}
#navbar-two a:hover {
    color: black;
}
/* Styling for the contact section */
.contact {
    width: 100%;
    position: absolute;
    top: 40%;
    color: white;
    text-align: center;
}

.contact h1 {
    font-size: 250%;
}

.contact p {
    margin: 20px auto;
    font-size: 150%;
}

/* Styling for the footer section */
footer {
    background: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 10px 10px black;
}

/* Styling for social network links */
#social-networks {
    padding: 5px;
    list-style-type: none;
    display: flex;
}

#social-networks li a {
    color: black;
    padding: 5px;
    margin: 9px;
} 
/* Styling for the main content section */
main {
    flex: 1 0 auto;
}
/* Styling for the About Us page */
#aboutus {
    background-image: url("../images/background-aboutus.webp");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: auto;
}

/* "Styling for the intro section on About Us page" */
#intro {
    background-color: rgba(60, 60, 60, 0.8);
    width: 100%;
}

#intro h2 {
    text-align: center;
    color: #ffffff;
    font-size: 200%;
    padding: 20px;
    margin: 47px 17px 17px;
}

#intro p {
    text-align: center;
    color: #ffffff;
    margin: 17px;
}
/* Styling for the services section */
#services-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.services {
    background-color: rgba(60, 60, 60, 0.8);
    text-align: center;
    border: 1px solid #ffffff;
    padding: 10px;
    margin: 10px;
    flex-basis: 500px;
    flex-grow: 2;
    
}
#services-list .services i{
    color: white;
}
.services h2 {
    font-size: 100%;
    margin-bottom: 10px;
    color: #ffffff;
}

.services p {
    font-size: 100%;
    color: #ffffff;
    padding: 2px;
    margin: 1px;
}
#contact {
   background-image: url(../images/1.jpg);
   background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    text-align: center;
    margin-top: 20px; 
    
}


/* Styling for the contact form */
#info {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: rgba(249, 249, 249, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input[type="submit"] {
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
}

/* Hover effect for the submit button */
input[type="submit"]:hover {
    background-color: black;
}
/* Styling for the map section */
#map-wrapper {
    text-align: center;
}

#map {
    border: none;
}

.text-center
{

        text-align: center;
        padding: 20px; 
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: gray;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-top: 0px;
        text-align: center;
        font-size: larger;
}


/* Styling for the  return.html */
.contact-return .contact {
    width: 100%;
    position: absolute;
    top: 40%;
    color: white;
    text-align: center;
    background-color: rgba(60, 60, 60, 0.6);
}
.contact-return {
    background-image: url("../images/background-return.jpg");
    background-color: black;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;

}
.contact-return p {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    width: 50%;
}
  /* Large screens (1200 pixels and above) */
 @media screen and (min-width: 1200px) {
     .navbar {
         padding: 32px 0;
     }

     .services {
         width: 15%;
     }


 }
 /* Medium-sized screens (992 to 1199 pixels) */
 @media screen and (min-width: 992px) and (max-width: 1199px) {
     .navbar {
         padding: 24px 0;
     }


     .services {
         width: 20%;
     }

 }
 /* Laptops (768 to 991 pixels) */
 @media screen and (min-width: 768px) and (max-width: 991px) {
     body {
         font-size: 16px;
     }

     .navbar {
         padding: 20px 0;
     }

     .services {
         width: 25%;
     }

 }
  /* Tablets and small laptops (576 to 767 pixels) */
  @media screen and (min-width: 576px) and (max-width: 767px) {
      body {
          font-size: 14px;
      }

      .navbar {
          padding: 16px 0;
      }

      .services {
          width: 50%;
      }

  }
 /* Mobile devices (575 pixels and below) */
 @media screen and (max-width: 575px) {
     body {
         font-size: 14px;
     }

     .navbar {
         padding: 16px 0;
     }

     #contact {
         top: 10%;
     }

     .services {
         width: 100%;
     }
 }
       