/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset CSS for all elements */
* {
    margin: 0;
    box-sizing: border-box;
}
/* Styling for the entire body */
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Styling for the banner section */
.banner {
    background-color: black;
    background-image: url("../images/banner.webp");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

/* Styling for the top navbar */
.navbar {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
} 
/* Styling for the navigation lists */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* Styling for list items in the navigation */
.navbar li {
    display: inline;
    margin-right: 20px;
}

/* Styling for navigation links */
.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}
/* Hover effect for navigation links */
.navbar a:hover {
    color: grey;
}

/* Styling for the about us and contact navbar */
#navbar-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 32px 0;
    background-color: grey;
    height: 35px;
    position: fixed;
}

#navbar-two ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Styling for list items in the navigation */
#navbar-two li {
    display: inline;
    margin-right: 20px;
}
/* Styling for navigation links */
#navbar-two a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}
#navbar-two a:hover {
    color: black;
}
/* Styling for the contact section */
.contact {
    width: 100%;
    position: absolute;
    top: 40%;
    color: white;
    text-align: center;
}

.contact h1 {
    font-size: 65px;
}

.contact p {
    margin: 20px auto;
}

/* Styling for the footer section */
footer {
    background: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 10px 10px black;
}

/* Styling for social network links */
#social-networks {
    padding: 5px;
    list-style-type: none;
    display: flex;
}

#social-networks li a {
    color: black;
    padding: 5px;
    margin: 9px;
} 
/* Styling for the main content section */
main {
    flex: 1 0 auto;
    margin-top: 15px;
}